<!DOCTYPE html>
<html lang="en">
<body>

<!--<img src="{{ i.image.url }}" width="500px"/>-->
<center>
{{ req.image.url }}<br>
{{ req.image.path }}<br>
{{ request.session }}<br>
<br>
<img src='{{ req.image.url }}' height=300px/>
<br>

<form action="{% url 'blackandwhite' %}" method="get" value="Black And White" name="BlackAndWhite">
<button type="submit">Black and White</button>
</form> <br><br>

Resize:
<form action="{% url 'resize' %}" method="post">
{% csrf_token %}
Height: <input type="text" name="height">
Width: <input type="text" name="width">
<input type="submit">
</form><br><br>

Croping:
<form action="{% url 'crop' %}" method="post">
{% csrf_token %}
Left: <input type="text" name="left">
Upper: <input type="text" name="upper">
Right: <input type="text" name="right">
Lower: <input type="text" name="lower">
<input type="submit">
</form><br><br>

Rotate:
<form action="{% url 'rotate' %}" method="post">
{% csrf_token %}
Degree: <input type="text" name="degree">
<input type="submit">
</form><br><br>

<br><br>
<form action="{% url 'share' %}" method="get" value="share" name="share">
<button type="submit">Share this crap</button>
</form>
</center>

</body>
</html>
